body{
   
    margin: 0;
    padding: 0;
}

#contenedor{
     max-width: 1366px;
     max-height: 800px;
     
}

header{
    height: 80px;
    width: 100%;
    background-color: #118b30;
    margin: 0;
    padding: 0;
    align-content: center;
}

.iconos_header{
    position: relative;
    left: 550px;
    bottom: 30px;
}

.iconos_section{
    position: relative;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}
.iconos_section i{
    font-size: 30px;
    color: #055a1a;
    margin: 12px;
    
}



.logo{
    height: 80px;
}

.input-icono{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 4%;
    left: 50%;


}

input{
    width: 250px;
    height: 25px;
    padding-left: 15px;
    border-radius: 7px;
    border: solid 0px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.50);
    outline: none;
    
    
}

::placeholder{
    background-image: url(buscar.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 20px center;
    text-indent: 40px;
   
}




.grande{
    margin: 0;
    padding: 0;
    width: 800px;
    height: 440px;
    position: relative;
    background-color: rgb(235, 229, 229);
    position: relative;
    float: right;
    
}

.pequeno{
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
    height: 60px;
    background-color: #a0daa3;
    
}

.nav{
    margin: 0;
    padding-left: 80px;
    width: 300px;
    height: 500px;
    position: absolute; 
}

footer{
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
    font-size: 12px;
    margin-right: 5px;
   
}
 ul{ 
    list-style-type: none;
    background-color: rgba(248, 240, 240, 0.884);
    overflow: hidden;
    
    margin: 0;
    padding: 0;
    
    
    

} 

li a{
    display: block;
    color: rgb(17, 17, 17);
    text-align:  center;
    padding: 15px;
    text-decoration: none;
    margin: 5px;
    border: solid black 1px;
    font-family: Arial, Helvetica, sans-serif;
}
li a:hover{
    background-color: #59ca7f;
}

.carp{
    background-color: #118b30;
}

li ul li a i{
    margin-right: 10px;
    color: #055a1a;
}










 
    
    



    



