body{
  
    margin: 0;
    padding: 0;
}

header{
    height: 80px;
    width: 100%;
    background-color: #118b30;
    margin: 0;
    padding: 0;
    align-content: center;
}

.logo{
    height: 80px;
}

.input-icono{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 4%;
    left: 50%;


}

input{
    width: 250px;
    height: 25px;
    padding-left: 15px;
    border-radius: 7px;
    border: solid 0px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.50);
    outline: none;
    
    
}

::placeholder{
    background-image: url(buscar.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 20px center;
    text-indent: 40px;
   
}

.grande{
    margin: 0;
    padding: 0;
    width: 800px;
    height: 400px;
    background-color: rgb(235, 229, 229);
    border:rgb(218, 208, 208) ;
    border-style: initial;
    position: relative;
    left: 560px;
    top: 10px;
}

.pequeno{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    background-color: #a0daa3;
    
}

